<app-not-found [visible]="!food"  notFoundMessage="Product Not Found !" reserLinkText="Go to HomePage"></app-not-found>
<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.name" />

<div class="details">
  <div class="header">
    <span class="name">
      {{ food.name }}
    </span>
    <span class="favourite  {{ food.favourite ? '' : 'not' }}"> ❤️ </span>
  </div>
  <div class="origin">
    <span *ngFor="let origins of food.origin">{{ origins }}</span>
  </div>
  <div class="tags">
    <app-tag [foodPagetags]="food.tags" justifyContent="start"></app-tag>
  </div>
  <div class="cook-time">
    <span>
      Time to cook about <strong>{{ food.cookTime }}</strong
      > Minutes
    </span>
  </div>
  <div class="price">
    <span>
      {{ food.price | currency : "INR" }}
    </span>
  </div>
  <button (click)="addtocart()" >Add to Cart</button>
</div>
</div>